<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset name="general" label="COM_GEOFACTORY_GENERAL_CONF" description="COM_GEOFACTORY_GENERAL_CONF_DESC">
		<field	name="subsEnd"
				type="password"
				label="COM_GEOFACTORY_SUBS_END"
				description="COM_GEOFACTORY_SUBS_END_DESC" />
		<field	name="useAllFields" 
				type="radio"
				class="btn-group"
				default="0"
				label="COM_GEOFACTORY_USE_ALL_FIELDS"
				description="COM_GEOFACTORY_USE_ALL_FIELDS_DESC">
					<option value="0">JNO</option>
					<option value="1">JYES</option>
		</field>
		<field	name="ggApikey"
				type="text"
				label="COM_GEOFACTORY_GG_API"
				description="COM_GEOFACTORY_GG_API_DESC" />
		<field	name="mapLang" 
				type="list"
				class="btn-group"
				default="0"
				label="COM_GEOFACTORY_MAP_LANG"
				description="COM_GEOFACTORY_MAP_LANG_DESC">
					<option value="">Auto</option>
					<option value="ar">Arabic</option>
					<option value="eu">Basque</option>
					<option value="bg">Bulgarian</option>
					<option value="bn">Bengali</option>
					<option value="ca">Catalan</option>
					<option value="cs">Czech</option>
					<option value="da">Danish</option>
					<option value="de">German</option>
					<option value="el">Greek</option>
					<option value="en">English</option>
					<option value="en-AU">English (australian)</option>
					<option value="en-GB">English (great britain)</option>
					<option value="es">Spanish</option>
					<option value="eu">Basque</option>
					<option value="fa">Farsi</option>
					<option value="fi">Finnish</option>
					<option value="fil">Filipino</option>
					<option value="fr">French</option>
					<option value="gl">Galician</option>
					<option value="gu">Gujarati</option>
					<option value="hi">Hindi</option>
					<option value="hr">Croatian</option>
					<option value="hu">Hungarian</option>
					<option value="id">Indonesian</option>
					<option value="it">Italian</option>
					<option value="iw">Hebrew</option>
					<option value="ja">Japanese</option>
					<option value="kn">Kannada</option>
					<option value="ko">Korean</option>
					<option value="lt">Lithuanian</option>
					<option value="lv">Latvian</option>
					<option value="ml">Malayalam</option>
					<option value="mr">Marathi</option>
					<option value="nl">Dutch</option>
					<option value="no">Norwegian</option>
					<option value="pl">Polish</option>
					<option value="pt">Portuguese</option>
					<option value="pt-BR">Portuguese (brazil)</option>
					<option value="pt-PT">Portuguese (portugal)</option>
					<option value="ro">Romanian</option>
					<option value="ru">Russian</option>
					<option value="sk">Slovak</option>
					<option value="sl">Slovenian</option>
					<option value="sr">Serbian</option>
					<option value="sv">Swedish</option>
					<option value="tl">Tagalog</option>
					<option value="ta">Tamil</option>
					<option value="te">Telugu</option>
					<option value="th">Thai</option>
					<option value="tr">Turkish</option>
					<option value="uk">Ukrainian</option>
					<option value="vi">Vietnamese</option>
					<option value="zh-CN">Chinese (simplified)</option>
					<option value="zh-TW">Chinese (traditional)</option>
		</field>
		<field	name="msOrdering" 
				type="radio"
				class="btn-group"
				default="0"
				label="COM_GEOFACTORY_MS_ORDERING"
				description="COM_GEOFACTORY_MS_ORDERING_DESC">
					<option value="0">Order</option>
					<option value="1">Name</option>
		</field>
		<field	name="isBasic" 
				type="radio"
				class="btn-group"
				default="0"
				label="COM_GEOFACTORY_BASIC_MODE"
				description="COM_GEOFACTORY_BASIC_MODE_DESC">
					<option value="0">Basic</option>
					<option value="1">Expert</option>
		</field>
		<field	name="isDebug"
				type="radio"
				class="btn-group"
				default="0"
				label="COM_GEOFACTORY_DEBUG_MODE"
				description="COM_GEOFACTORY_DEBUG_MODE_DESC">
					<option value="0">JNO</option>
					<option value="1">JYES</option>
		</field>
	    <field 	name="sidemode" 
	    		type="list" 
	    		default="2" 
	    		label="COM_GEOFACTORY_SIDE_LOAD_MODE" 
	    		description="COM_GEOFACTORY_SIDE_LOAD_MODE_DESC">
					<option value="1">One by one</option>
					<option value="2">All at once</option>
	    </field>
	    <field 	name="largeMarkers" 
	    		type="list" 
	    		default="64" 
	    		label="COM_GEOFACTORY_MEM_USAGE" 
	    		description="COM_GEOFACTORY_MEM_USAGE_DESC">
					<option value="64">0-1000 markers</option>
					<option value="128">1001-3000 markers</option>
					<option value="512">3001-... markers</option>
	    </field>
		<field	name="useBigSelect" 
				type="radio"
				class="btn-group"
				default="1"
				label="COM_GEOFACTORY_USE_BIG_SELECT"
				description="COM_GEOFACTORY_USE_BIG_SELECT_DESC">
					<option value="0">JNO</option>
					<option value="1">JYES</option>
		</field>
		<field	name="hideNote" 
				type="radio"
				class="btn-group"
				default="1"
				label="COM_GEOFACTORY_REMOVE_NOTE"
				description="">
					<option value="1">JNO</option>
					<option value="0">JYES</option>
		</field>
		<field	name="showTerms" 
				type="radio"
				class="btn-group"
				default="1"
				label="COM_GEOFACTORY_SHOW_TERMS"
				description="">
					<option value="0">JNO</option>
					<option value="1">JYES</option>
		</field>
	</fieldset>
	<fieldset name="geocoding" label="COM_GEOFACTORY_GEOCODE_CONF" description="COM_GEOFACTORY_GEOCODE_CONF_DESC">
		<field	name="ggRegion"
				type="text"
				label="COM_GEOFACTORY_GC_REGION"
				description="COM_GEOFACTORY_GC_REGION_DESC" />
		<field 	name="iPauseGeo" 
				type="list"
				default="2000000"
				label="COM_GEOFACTORY_GEOCODE_PAUSE"
				description="COM_GEOFACTORY_GEOCODE_PAUSE_DESC">
					<option value="250000">1/4 sec</option>
					<option value="333333">1/3 sec</option>
					<option value="500000">1/2 sec</option>
					<option value="1000000">1 sec</option>
					<option value="2000000">2 sec (def)</option>
					<option value="3000000">3 sec</option>
					<option value="5000000">5 sec</option>
		</field>
		<field	name="showMinimap" 
				type="radio"
				class="btn-group"
				default="1"
				label="COM_GEOFACTORY_SHOW_GEOCODE_MINIMAP"
				description="COM_GEOFACTORY_SHOW_GEOCODE_MINIMAP_DESC">
					<option value="0">JNO</option>
					<option value="1">JYES</option>
		</field>
		<field	name="geocodeClient" 
				type="radio"
				class="btn-group"
				default="0"
				label="COM_GEOFACTORY_GEOCODE_CLIENT_SIDE"
				description="COM_GEOFACTORY_GEOCODE_CLIENT_SIDE_DESC">
					<option value="0">JNO</option>
					<option value="1">JYES</option>
		</field>
		<field	name="geocodeLog" 
				type="radio"
				class="btn-group"
				default="0"
				label="COM_GEOFACTORY_GEOCODE_LOG"
				description="COM_GEOFACTORY_GEOCODE_LOG_DESC">
					<option value="0">JNO</option>
					<option value="1">JYES</option>
		</field>
		<field	name="ggSeparator" 
				type="radio"
				class="btn-group"
				default="+"
				label="COM_GEOFACTORY_GEOCODE_ADDSEP"
				description="COM_GEOFACTORY_GEOCODE_ADDSEP_DESC">
					<option value="+">Auto</option>
					<option value=",">Coma</option>
		</field>
	</fieldset>
	<fieldset name="jquery" label="COM_GEOFACTORY_JQUERY_CONF" description="COM_GEOFACTORY_JQUERY_CONF_DESC">
		<field 	name="jqMode" 
				label="COM_GEOFACTORY_JQ_MODE" 
				type="list" 
				default="2" 
				class="btn-group" 
				description="COM_GEOFACTORY_JQ_MODE_DESC">
					<option value="0">COM_GEOFACTORY_JQ_MODE_NONE</option>
					<option value="1">COM_GEOFACTORY_JQ_MODE_LOCAL</option>
					<option value="2">COM_GEOFACTORY_JQ_MODE_LOCAL_JOOMLA</option>
					<option value="3">COM_GEOFACTORY_JQ_MODE_CDN_GOOGLE</option>
					<option value="4">COM_GEOFACTORY_JQ_MODE_CDN_JQUERY</option>
		</field>
		<field 	name="jqVersion" 
				type="radio"
				default="2.0.2"
				class="btn-group" 
				label="COM_GEOFACTORY_JQ_VER" 
				description="COM_GEOFACTORY_JQ_VER_DESC">
					<option value="2.1.1"	>2.1</option>
					<option value="2.0.3"	>2.0</option>
					<option value="1.11.1"	>1.11</option>
					<option value="1.10.2"	>1.10</option>
					<option value="1.9.1"	>1.9</option>
					<option value="1.8.3"	>1.8</option>
					<option value="1.7.2"	>1.7</option>
					<option value="1.6.4"	>1.6</option>
		</field>
		<field 	name="jqUiversion" 
				type="radio" 
				default="1.10.3" 
				class="btn-group" 
				label="COM_GEOFACTORY_JQ_VER_UI" 
				description="COM_GEOFACTORY_JQ_VER_UI_DESC">
					<option value="1.11.2"	>1.10</option>
					<option value="1.10.4"	>1.10</option>
					<option value="1.9.2"	>1.9</option>
					<option value="1.8.24"	>1.8</option>
					<option value="1.7.3"	>1.7</option>
		</field>
        <field 	name="jqUiTheme" 
        		type="list" 
        		default="base" 
				label="COM_GEOFACTORY_JQ_UI_THEME" 
				description="COM_GEOFACTORY_JQ_UI_THEME_DESC">
					<option value="none">COM_GEOFACTORY_JQ_UI_THEME_NONE</option>
					<option value="base">Base</option>
					<option value="black-tie">Black Tie</option>
					<option value="blitzer">Blitzer</option>
					<option value="cupertino">Cupertino</option>
					<option value="dark-hive">Dark Hive</option>
					<option value="dot-luv">Dot Luv</option>
					<option value="eggplant">Eggplant</option>
					<option value="excite-bike">Excite Bike</option>
					<option value="flick">Flick</option>
					<option value="hot-sneaks">Hot Sneaks</option>
					<option value="humanity">Humanity</option>
					<option value="le-frog">Le Frog</option>
					<option value="mint-choc">Mint Choc</option>
					<option value="overcast">Overcast</option>
					<option value="pepper-grinder">Pepper Grinder</option>
					<option value="redmond">Redmond</option>
					<option value="smoothness">Smoothness</option>
					<option value="south-street">South Street</option>
					<option value="start">Start</option>
					<option value="sunny">Sunny</option>
					<option value="swanky-purse">Swanky Purse</option>
					<option value="trontastic">Trontastic</option>
					<option value="ui-darkness">UI Darkness</option>
					<option value="ui-lightness">UI Lightness</option>
					<option value="vader">Vader</option>
		</field>
	</fieldset>
	<fieldset name="bubble" label="COM_GEOFACTORY_BUBBLE_CONF" description="COM_GEOFACTORY_BUBBLE_CONF_DESC">
		<field	name="parseplugin"
				type="radio"
				class="btn-group"
				default="0"
				label="COM_GEOFACTORY_PARSE_PLUGINS"
				description="COM_GEOFACTORY_PARSE_PLUGINS_DESC">
					<option value="0">JNO</option>
					<option value="1">JYES</option>
		</field>
		<field	name="waysearchBtn"
				type="radio"
				class="btn-group"
				default="1"
				label="COM_GEOFACTORY_LOCATEME_WS"
				description="COM_GEOFACTORY_LOCATEME_WS_DESC">
					<option value="0">JNO</option>
					<option value="1">JYES</option>
		</field>
	</fieldset>
	<fieldset name="colors" label="COM_GEOFACTORY_COLOR_CONF" description="COM_GEOFACTORY_COLOR_CONF_DESC">
		<field
				name="colorRadius"
				type="color"
				default="#00A1FF"
				label="COM_GEOFACTORY_COLOR_RADIUS"
				description="COM_GEOFACTORY_COLOR_DESC" />
		<field
				name="colorSalesArea"
				type="color"
				default="Green"
				label="COM_GEOFACTORY_COLOR_SALES_AREA"
				description="COM_GEOFACTORY_COLOR_DESC" />
	</fieldset>
	<fieldset name="import"	label="COM_GEOFACTORY_IMPORT_CONF" description="COM_GEOFACTORY_IMPORT_CONF_DESC">
		<field	name="prefix_old"
				type="text"
				default="old-map_"
				label="COM_GEOFACTORY_IMPORT_PREFIX"
				description="COM_GEOFACTORY_IMPORT_PREFIX_DESC" />
		<field	name="import-driver"
				type="text"
				default="mysqli"
				label="COM_GEOFACTORY_IMPORT_EDB_TYPE"
				description="COM_GEOFACTORY_IMPORT_AT_YOUR_OWN_RISK" />
		<field	name="import-host"
				type="text"
				default="localhost"
				label="COM_GEOFACTORY_IMPORT_EDB_HOST"
				description="COM_GEOFACTORY_IMPORT_AT_YOUR_OWN_RISK" />
		<field	name="import-user"
				type="text"
				default=""
				label="COM_GEOFACTORY_IMPORT_DB_USERNAME"
				description="COM_GEOFACTORY_IMPORT_AT_YOUR_OWN_RISK" />
		<field	name="import-password"
				type="text"
				default=""
				label="COM_GEOFACTORY_IMPORT_DB_PWD"
				description="COM_GEOFACTORY_IMPORT_AT_YOUR_OWN_RISK" />
		<field	name="import-database"
				type="text"
				default=""
				label="COM_GEOFACTORY_IMPORT_DB_NAME"
				description="COM_GEOFACTORY_IMPORT_AT_YOUR_OWN_RISK" />
		<field	name="import-prefix"
				type="text"
				default="jos_"
				label="COM_GEOFACTORY_IMPORT_DB_PREFIX"
				description="COM_GEOFACTORY_IMPORT_AT_YOUR_OWN_RISK" />
	</fieldset>
	<fieldset name="permissions" description="JCONFIG_PERMISSIONS_DESC"	label="JCONFIG_PERMISSIONS_LABEL">
		<field 	name="rules" 
				type="rules"
				component="com_geofactory"
				filter="rules"
				validate="rules"
				label="JCONFIG_PERMISSIONS_LABEL"
				section="component" />
	</fieldset>
</config>